body {
    height: 100vh;
}

#allMessagesDiv {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 70vh;
    height: 70vh;
    width: 95vw;
    margin: auto;
}

#allMessagesDiv video {
    max-width: 100%;
    max-height: 30vh;
    display: block;
}

#gifModalBody {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#gifModalBody video {
    max-height: 20vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}