body {
    height: 100vh;
}

aside {
    width: 10vw;
    height: 100vh;
    float: left;
}

main {
    float: left;
    width: 89vw;
    height: 100vh;
}

aside img {
    width: 9vw;
}

.selected {
    border: 2px solid blue;
}

#allMessagesDiv {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 70vh;
    height: 70vh;
    margin: auto;
}

#allMessagesDiv video {
    max-width: 100%;
    max-height: 30vh;
    display: block;
}

#gifModalBody {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#gifModalBody video {
    max-height: 20vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}