<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>PK Messenger</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
    <link href="/app.css" rel="stylesheet">
</head>
<body>
<h1>Hello!</h1>

<div>
    <h3>Chat window:</h3>
    <div id="allMessagesDiv">
        <div th:each="msg : ${allMessages}">
            <span th:text="${msg.getHumanRedableTimestamp()}"></span>
            <span th:style="'color:' + ${msg.user.colorCode} + ';'" th:text="${msg.getName()}"></span>
            <span th:text="${msg.text}"></span>
        </div>
    </div>
</div>

<form>
    <label for="newMessageInput">Content:</label>
    <input id="newMessageInput" type="text">
    <input id="usernameInput" type="hidden" name="username" th:value="${username}}">

    <button type="submit" id="sendMessage">Send</button> //sendMessage from app.js
</form>
</body>
</html>